<h1>New Project</h1>
<%= simple_form_for @recipe do |f| %>
  Nom de la recette: <%= f.text_field :name %>
  Temps de préparation: <%= f.text_field :time_prep %>
  Difficulté: <%= f.text_field :difficulty %>
  <h3>Tasks</h3>
  <div id='tasks'>
    <%= f.simple_fields_for :doses, Dose.new do |dose| %>
      <%= render 'dose_fields', f: dose %>
    <div class='links'>
      <%= link_to_add_association 'add task', f, :doses,
    partial: 'dose_fields' %>
    </div>
    <% end %>
  </div>
  <%= f.submit 'Save' %>
<% end %>

