<h1>New Project</h1>
<%= simple_form_for @recipe do |f| %>
  Nom de la recette: <%= f.text_field :name %>
  Temps de préparation: <%= f.text_field :time_prep %>
  Difficulté: <%= f.text_field :difficulty %>
  <div id="doses">
    <%= f.simple_fields_for :doses, Dose.new do |dose| %>
      <!-- Task: <%#= task.text_field :name %> -->
      <%= render 'doses_field', f: dose %>
    <% end %>
  </div>
  <%= f.submit 'Create Project' %>
<% end %>
